DATABASE_HOST = dpg-d6eksbh5pdvs73d0-a.render.com
DATABASE_PORT = 5432
DATABASE_NAME = lmsdb_3w4f
DATABASE_USERNAME = lms_user
DATABASE_PASSWORD = cdJh9PX05MXnPvnb2Pi9AhgYeuFBI5Vu
CLOUDINARY_CLOUD_NAME = dfunxatca
CLOUDINARY_API_KEY = 365322536294598
CLOUDINARY_API_SECRET = 5jgmWlw0dBrf_E1hu2evFjCb0mc
PAYPAL_CLIENT_ID = AZbgC7CtJkHAuDOYHH1tn9kZfmNc2MZ79axb2UY-10710mC8KvqGMAoWmSvu+oA0dh3eQeEveE
PAYPAL_CLIENT_SECRET = EPSjPMegIBtvVkpXSQ5Bk5GJmPx7biJg-KqmavCnTJp69mS_sb_Dvh0ZZ31kj-n71uVc3+0Q1H5Mqv1
PAYPAL_MODE = sandbox
JWT_SECRET = mySecretKeyForJWTTokenGeneration1234567890
SPRING_PROFILES_ACTIVE = prod